@import "./variables";
@import "./normalize";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.app {
  background-color: #0f0f0f;
  color: white;
  font-family: Roboto, Arial, sans-serif;
}