@import './variables';
@import './normalize';
@import './list';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: #0f0f0f;
    width: 12px;
  }

  &::-webkit-scrollbar-track {
  }

  &::-webkit-scrollbar-thumb {
    background-color: #222222;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.app {
  font-family: Roboto, Arial, sans-serif;
  color: white;
  background-color: var(--primary-color);

  position: relative;
}
