#root {
  --primary-color: #0f0f0f;
  --secondary-color: #ca0008;
  --dark-color: #121212;
  --light-dark-color: #222222;
  --lighter-dark-color: #303030;
  --dark-gray-color: #3e3e3e;
  --gray-color: #535353;
  --fade-gray-color: #717171;
  --light-gray-color: #aaaaaa;
  --white-color: #f1f1f1;
  --blue-color: #3ea6ff;
  --dark-blue-color: #4176c0;
}
