.notifications {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  flex-direction: column;
  height: 642px;
  width: 480px;
  border-radius: 12px;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--light-dark-color);
  overflow: hidden;

  & .notifications-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    & .header__title {
      font-size: 16px;
      margin-left: 16px;
      line-height: 50px;
    }

    & .gear-button {
      margin-left: auto;
      margin-right: 8px;
    }
  }

  & .notifications-list {
    --scroll-bar-width: 8px;

    padding-right: var(--scroll-bar-width);

    &:hover {
      overflow-y: scroll;
      padding-right: 0;
    }

    &::-webkit-scrollbar {
      width: var(--scroll-bar-width);
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {

    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--fade-gray-color);
      min-height: 100px;
    }

  }


  &.opened {
    display: flex;
  }
}
