.user-actions-modal {
  display: none;
  z-index: 300;
  width: 300px;
  max-height: 749px;
  background-color: var(--light-dark-color);
  border-radius: 12px;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);

  &.opened {
    display: block;
  }

  & .user-actions-modal-header {
    display: grid;
    grid-template:
          "icon title ."
          "icon sub-title ."
          ". link link" / 53px auto 1fr;
    grid-column-gap: 3px;
    height: 105px;
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    & .header-icon {
      grid-area: icon;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    & .header__title {
      grid-area: title;
      margin-top: 1px;
    }

    & .header__subtitle {
      grid-area: sub-title;
    }

    & .header__link {
      grid-area: link;
      margin-top: 8px;
      font-size: 14px;
      color: var(--blue-color);
    }
  }

  & .user-actions-list {
    & .list-item-separator {
    }

    & .user-actions-list__item {
      display: flex;
      align-items: center;
      font-size: 14px;
      box-sizing: content-box;
      color: var(--white-color);

      //&:nth-child(3),
      //&:nth-child(5),
      //&:nth-child(11),
      //&:nth-child(12) {
      //  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      //  padding-bottom: 8px;
      //}
      //
      //&:nth-child(4),
      //&:nth-child(6),
      //&:nth-child(12),
      //&:nth-child(13) {
      //  padding-top: 8px;
      //}

      & .item-link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 36px 0 16px;
        line-height: 40px;
        height: 40px;


        &:hover {
          background-color: var(--dark-gray-color);
        }
      }

      & .item-icon {
        margin-right: 16px;
      }

      & .arrow {
        position: relative;
        right: -20px;
        margin-left: auto;
      }
    }
  }

  & .svg-icon {
    fill: white;
  }
}