.cross-icon-wrapper {
  position: relative;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin: 5px;


  & .cross-icon__interaction {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    transform: scale(1.7);

    &:hover {
      background-color: #414141;
    }
  }

  & .cross-icon {
    position: relative;
    pointer-events: none;
    z-index: 3;
    fill: white;
  }
}