.search-icon-button {
  position: relative;
  width: 64px;
  border: 1px solid #303030;
  border-left: 0;
  border-radius: 0 40px 40px 0;
  background-color: #222222;
  fill: white;

  & .search-button-mini__icon {
    width: 100%;
  }

  &:hover {
    & .text-tip {
      display: block;
    }
  }
}

.search-button-mini {

  & .button__interaction:hover {
    background-color: #272727;

    & ~ .text-tip {
      display: block;
    }
  }

  & .search-button-mini__icon {
    position: relative;
    z-index: 3;
    pointer-events: none;
  }
}