.notification-icon {
  margin-right: 7px;

  & .button__interaction:hover {
    & ~ .text-tip {
      display: block;
    }
  }


  & .notification-icon__icon {
    position: relative;
    z-index: 3;
    fill: currentColor;
    pointer-events: none;
  }

  & .notification-icon__count {
    position: absolute;
    right: 0;
    top: 4px;
    z-index: 4;
    width: 16px;
    height: 16px;
    box-sizing: content-box;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background-color: #ca0008;
    border: 2px solid #000c;
    border-radius: 50%;
    pointer-events: none;
  }
}