.voice-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  background-color: #272727;
  border-radius: 50%;

  &:hover {
    background-color: #3d3d3d;
  }

  & .voice-search-icon__icon {
    fill: white;
  }
}