.gear-icon {
  position: relative;
  align-items: center;
  padding: 8px;

  &:hover {
    & .text-tip {
      display: block;
    }

    & .gear-icon__interaction {
      background-color: #535353;
    }
  }

  & .gear-icon__icon {
    position: relative;
    z-index: 3;
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;
    cursor: pointer;
  }

  & .gear-icon__interaction {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    border-radius: 50%;
  }
}