.create-video-button {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;

  & .options {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    border-radius: 12px;
    padding: 8px 0;
    background-color: #282828;

    &.opened {
      display: block;
    }

    & .options-item {
      display: flex;
      align-items: center;
      height: 40px;
      white-space: nowrap;
      font-size: 14px;
      text-align: center;
      color: #f1f1f1;
      padding: 0 36px 0 16px;


      & .options-item__title {
        height: 100%;
        padding-right: 4px;
        margin-left: 16px;
        line-height: 40px;
        user-select: none;
      }

      &:hover {
        background-color: #3e3e3e;
      }
    }

    & .play-video-icon {
      fill: white;
    }

    & .stream-icon {
      fill: white;
    }
  }

  & .create-video-button__interaction {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 1;

    &:hover {
      & ~ .text-tip {
        display: block;
      }

      background-color: #272727;
    }

  }

  & .create-video-icon__icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    fill: white;
    pointer-events: none;
  }
}