.create-video-icon {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;


  &:hover .create-video-icon__interaction {
    background-color: #272727;
  }

  & .create-video-icon__interaction { //TODO refactor all interactions with padding instead of scale()
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 1;
  }

  & .create-video-icon__icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    fill: white;
    pointer-events: none;
  }
}