.text-tip {
 position: absolute;
 top: calc(100% + 10px);
 right: 50%;
 z-index: 1000;
 display: none;
 padding: 10px;
 font-size: 12px;
 text-align: center;
 white-space: nowrap;
 user-select: none;
 color: white;
 background-color: var(--gray-color);
 border-radius: 4px;
 opacity: 0;

 animation: 100ms ease-in fadeInOpacity;
 animation-delay: 100ms;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;

 transform: translateX(50%);
 will-change: opacity;
}

@keyframes fadeInOpacity {
 from {
  opacity: 0;
 }
 to {
  opacity: 0.9;
 }
}
