@import "../../../app/styles/hide-scrollbar";

.aside {
  position: fixed;
  z-index: 1;
  grid-area: aside;
  width: 224px;
  height: 100%;
  padding-top: 56px;
  overflow-y: scroll;
  background-color: inherit;
  @include hide-scrollbar;

  & .aside-article {
    padding: 12px 8px 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &:nth-child(1) {
      margin-left: 12px;

      & .aside-item {
        margin-left: 0;
      }
    }

    & .article-title {
      display: block;
      font-weight: 500;
      font-size: 16px;
      padding: 6px 12px 0;
      margin-left: 14px;
      margin-bottom: 4px;
    }

    & .aside-item {
      display: flex;
      align-items: center;
      height: 40px;
      margin-left: 12px;
      padding: 0 12px;
      border-radius: 10px;
      &:hover {
        background-color: var(--light-dark-color);

        &.active {
          background-color: var(-dark-gray-color);
        }
      }

      &.active {
        background-color: var(--light-dark-color);
        font-weight: 500;
      }

      & .aside-item__icon {
        margin-right: 24px;

        &.expand-icon {
          transform: rotate(90deg);
        }

        &.collapse-icon {
          transform: rotate(-90deg);
        }
      }

      & .aside-item__title {
        font-size: 14px;
        line-height: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 132px;
      }

      & > a {
        display: flex;
        align-items: center;
      }
    }
  }
}

.aside,
.aside-mini {
  &.vertical-list {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
}

.aside-mini {
  margin-top: 56px;
}