.logo {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 20px;
  cursor: pointer;
  --svg-width: 90px;

  & .svg-icon {
    width: var(--svg-width);
  }

  & .country-code {
    position: absolute;
    top: -15%;
    left: calc(var(--svg-width) + 4px);
    font-size: 10px;
    color: var(--light-gray-color);
  }
}
