.notifications-actions-modal { //TODO remove !important
  position: absolute;
  top: 100%;
  right: 0;
  display: none !important;
  z-index: 400;

  &.opened {
    display: flex !important;
  }
}