.header {
  display: grid;
  grid-area: header;

  grid-template:
    "menu-icon logo search user-actions" auto / auto auto 1fr auto;
}

.logo {
  grid-area: logo;
}

.search {
  grid-area: search;
  justify-self: center;
}

.user-actions {
  grid-area: user-actions;
}

.menu-icon {
  grid-area: menu-icon;
}