.menu-icon {
  position: relative;
  align-self: center;
  margin: 0 16px;
  padding: 8px;

  &:hover .menu-icon__interaction {
    background-color: #272727;
  }
}

.menu-icon__interaction {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}

.menu-icon__icon {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 3;
  fill: currentColor;
  cursor: pointer;
}