.menu-icon {
  position: relative;
  align-self: center;
  margin: 0 16px;
  padding: 8px;

  & .text-tip {
    font-size: 7px;
    font-family: 'Oswald', sans-serif;
  }

  &:hover {
    & .text-tip {
      display: block;
    }

    & .menu-icon__interaction {
      background-color: #272727;
    }
  }
}

.menu-icon__interaction {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  border-radius: 50%;
}

.menu-icon__icon {
  position: relative;
  z-index: 3;
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  cursor: pointer;
}