.disable-notifications-button {
 display: flex;
 align-items: center;
 height: 36px;
 padding: 0 12px 0 16px;

 &:hover {
  background-color: var(--gray-color);
 }

 & .disable-notifications-button__title {
  margin-right: 24px;
  font-size: 14px;
  color: var(--white-color);
 }

 & .disable-notifications-button__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  fill: white;
 }
}
