.video-tags {
  display: flex;
  padding: 0 24px;

  & > .video-tags-item {
    height: 32px;
    margin: 12px 12px 12px 0;
    padding: 0 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    background-color: var(--lighter-dark-color);
    cursor: pointer;
    transition: 0.3s background-color;

    &:hover {
      background-color: var(--gray-color);
    }

    &.active {
      color: var(--dark-color);
      background-color: var(--white-color);
    }
  }
}
